<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Index</title>
</head>
<body>
    <div class="aboutNav">
    <nav>
        <a href="/">Home</a><p>|</p>
        <a href="/projects">Projects</a><p>|</p>
        <a href="/contact">Contact</a>
    </nav>
    </div>
    <h1>About Me</h1>
    <div class="aboutMe">
        <div class="about">
        <img src="~/images/MeAndDrake.jpg" alt="picture of me">
        <h2>Joslyn Shumard</h2>
        <h3>This is my husband and I!</h3>
        </div>
        <p>My name is Joslyn Shumard. I am a young mom to a little boy named Cain and a wife to my husband Drake! I love programming and am currently in the process of transitioning to my new job as a Developer! This page is meant to showcase my projects I've worked on so far and other success. Thanks for stopping by!</p>
    </div>

</body>
</html>