<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Projects</title>
</head>
<body>
    <div class="projectNav">
    <nav>
        <a href="/">Home</a><p>|</p>
        <a href="/projects">Projects</a><p>|</p>
        <a href="/contact">Contact</a>
    </nav>
    </div>
    <div class="projects">
        <div class="project1">
            <img src="~/images/projectPlaceholder.png" alt="project">
            <div class="projectText">
                <h2>Project 1</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At doloremque est placeat accusantium! Similique laborum in eius dolorum? Adipisci, alias perspiciatis. Fuga commodi cupiditate facere minima, impedit suscipit error unde?</p>
            </div>
        </div>
        <div class="project2">
            <img src="~/images/projectPlaceholder.png" alt="project">
            <div class="projectText">
                <h2>Project 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat temporibus voluptatum, quod sint sequi ex perferendis nemo error architecto assumenda aliquam, tempore provident, corporis veritatis sapiente id reiciendis consequuntur ad!</p>
            </div>
        </div>
        <div class="project3">
            <img src="~/images/projectPlaceholder.png" alt="project">
            <div class="projectText">
                <h2>Project 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, illum iusto ipsum sequi quasi libero ducimus minima possimus, facilis, velit voluptas delectus ipsam! Asperiores explicabo corporis velit? Dolorem, voluptas omnis!</p>
            </div>
        </div>
    </div>
</body>
</html>