@model Users

<div class="text-center">
    <h1 class="topHeader">Welcome to MoviesRec!</h1>
    <div class="row mt-5">
        <div class="col-md">
            @await Html.PartialAsync("_Register")
        </div>
        <div class="col-md">
            @await Html.PartialAsync("_Login")
        </div>
    </div>
</div>