
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: lightgrey;
}

.imgSize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25em;
  height: auto;
}

.rightDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 4em 4em 4em;
  font-family: "Concert One";
  font-size: x-large;
}

.wholeText{
  display: flex;
  flex-direction: column;
  padding-top: 6em;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 3em 3em 3em 3em;
  margin-top: 30px;
  background-color: rgb(43, 41, 41);
}

h1 {
  display: flex;
}

.topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Creepster";
  font-size: x-large;
}

.navBar {
  display: flex;
  font-size: large;
  justify-content: space-around;
  text-decoration: none !important;
  color: black;
}

.navBar a {
  text-decoration: underline black;
  color: black;
}

.topHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newForm {
  background-color: rgb(43, 41, 41);
  color: white;
  padding: 3em 3em 3em 3em;
}

.btn {
  background-color: rgb(134, 49, 49);
  color: white;
  border-color: white;
  border-width: 2px;
  font-family: "Creepster";
}

.wholeText a {
  text-decoration: underline white;
  color: white;
}

.posts h2 {
  font-family: "Creepster";
}

.newForm h1 {
  font-family: "Creepster";
}

h3 {
  font-family: "Creepster";
}

.diffFont{
  font-family: "Concert One";
}


